@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@200;300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
:root {
    --prim-c: #fff;
    --sec-c: #717171;
    --trans-speed: 0.5s;
}
/* ==================================== NAVIGATION BAR =================================== */
header {
    height: 60px;
    width: 100%;
    background-image: linear-gradient(90deg,#8d1a17,#181733);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

img {
    width: 100%;
    /* max-height: 600px; */
}
h1 {
    text-align: center;
    font-size: 30px;
    margin: 32px 0px;
    font-weight: 100;
}


li {
    list-style-type: none;
}
.nav__titleLogo {
    color: #fdc52c;
    padding-left: 40px;
    display: block;
    height: 30px;
    width: 30px;
    flex: 0.2;
}

.nav__titleImg {
    width: 30px;
    height: 30px;
    object-fit: contain;
    background-color: #8d1a17;
}

.nav__menu {
    display: flex;
    flex: 0.6;
    align-items: center;
    justify-content: space-around;
}

/* ========================================= BURGER MENU =========================== */

.hamburger__menu {
    display: none;
}
#menu__toggle {
    opacity: 0;
}
/* sve ih rotiram za 45 */
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
/* vracam ga iza spana */
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0px;
    transform: rotate(0);
}
/* rotiram ga za 90 stepeni u odnosu na span */
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fdc52c;
    transition-duration: .25s;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    z-index: 100;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background: linear-gradient(180deg,#cd122d 0,#154284);    
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .4s;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
}

  .menu__item:hover {
    background: linear-gradient(90deg,#cd122d,#181733);
}

/* =========================== MAIN PART ============================ */

.main__background {
    /* min-height: 700px; */
    height: 800px;
    width: 100%;
    background-color: #181733;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* =================================== GALLERY =================================== */

.slides-container {
    max-width: 700px;
    position: relative;
    margin-bottom: 30px;
}

.slide {
    display: none;
}



/* .slide:first-child {
    display: block;
} */

.prev-btn,.next-btn {
    cursor: pointer;
    position: absolute;
    top: calc(50% - 40px);
    width: auto;
    margin-top: -16px;
    padding: 40px 10px; 
    color: var(--prim-c);
    background-color: transparent ;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    transition: var(--trans-speed) ease-out;
}

.next-btn {
    right: 0;
    border-radius: 3px 0px 0px 3px;
}

.prev-btn:hover,
.next-btn:hover{
    background-color: rgba(0,0,0,0.65);
}

.prev-btn:active,
.next-btn:active{
color: var(--sec-c);
}

.text {
    position: absolute;
    bottom: 0;
    padding: 12px 24px;
    color: var(--prim-c);
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.65);
}

.numbertext{
    position: absolute;
    font-size: 16px;
    right: 0;
    top: 0;
    color: var(--prim-c);
    background-color: rgba(0,0,0,0.65);
    font-weight: bold;
    padding: 12px;
}

.dots-container {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color var(--trans-speed) ease-out;
}

.active,.dot:hover {
    background-color: var(--sec-c);
}

.fade {
    animation: fade var(--trans-speed);
}

@keyframes fade {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

/* =================== FOOTER ========================== */
footer {
    height: 100px;
    background-color: #181733;
    padding: 40px 0px 10px;
    text-align: center;
    color: #fff;
    border-top: 1px solid #fff;
}

@media (max-width: 678px) {
    .main__background {
        height: 100vh;
    }
    .hamburger__menu {
        display: block;
    }

    .nav__menu {
        display: none;
    }

    .slides-container {
        width: 80%;
        margin: 70px auto;
    }

    .text {
        font-size: 14px;
    }

    .dot {
        height: 8px;
        width: 8px;
    }
}